@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .link-element:not(:last-child) {
        /* border-bottom: 1px solid #4b5563; border-gray-600 */
        @apply border-b border-gray
    }

    .col-nav {
        @apply fixed sm:min-w-[35%] h-screen z-50 bg-black pl-2 w-[35%] pt-[12%] top-0 ease-in-out delay-100 duration-1000;
    }

    .btn {
        /* @apply border-b-2; */
        border-bottom: 2px solid transparent;
        transition: all 0.6s;
    }

    .btn:hover {
        /* @apply transition-all duration-75 delay-200 */
        border-bottom-color: white;
        /* @apply border-white */
        transition: all 0.6s;
    }
}
